

@media only screen and (max-width: 767px){
    *{
        font-size: 0.95rem;
    }
    .col-lg-8, .col-lg-6{
        padding-right: 0;
    }
    .mobile-overlay{
        position: fixed;
        top:0;
        left:0;
        width:0%;
        height:100%;
        background: rgba(0,0,0,0.3);
        z-index: 8;
        transition: all 0.4s;
    }
    .mobile-overlay.show{
        width:100%;
    }
    .sidebar{
        width: 60%;
        z-index: 10;
        transition: all 0.4s;
        transform: translateX(-300px);
    }

    .sidebar.show{
        transform: translateX(0);
    }
    .main-side-content{
        width: 100%;
    }
    .top-nav{
        position: absolute;
        left:0;
        top: calc(100% + 10px);
        width:100%;
        transition: all 0.4s;
        opacity: 0;
        pointer-events: none;
        user-select: none;
        border-bottom: 1px solid #d5dfee;
    }

    .top-nav.show{
        opacity: 1;
        top: 100%;
        pointer-events: auto;
        z-index: 5;

    }
    .top-nav > div:first-child{
        width: 40%;
    }
    .top-nav > div:nth-child(2){
        width: 60%;
    }

    .top-nav-mobile{
        font-size: 18px;
        color: #6986b1;
        border-bottom: 1px solid #d5dfee;
    }

    .top-nav-mobile i{
        cursor: pointer;
    }
    .top-nav .user > span:first-child ul{
        right: -140px;
    }
}

